**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/TestResults/
**/coverage/

.git/
.gitignore
.gitattributes

*.user
*.suo
*.swp
*.tmp
*.bak
*.log

.env
.env.*

**/Properties/launchSettings.json
**/Properties/serviceDependencies*.json
